body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 1px solid gray;
  width: 300px;
  margin: auto;
  padding: 40px;
}
form label,
form input {
  display: block;
  padding: 5px 0px;
}
form input {
  margin-bottom: 10px;
}
form input[type="submit"] {
  width: 50px;
}

:root {
  background: blue;
} /*origem da página ou documento(mesma coisa do seletor html que é a raiz do documento)*/
