* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box {
  background: linear-gradient(90deg, #fc466b, #3f5efb);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.box:hover {
  transform: translate(-50px) translateY(100px);
}
/*
.box:hover {
  transform: translateY(50px);
}
*/
