body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #fc466b, #3f5efb);
  border-radius: 8px;
}
.box:hover {
  transform: scale(1.2, 3); /*mutiplica as dimensões bases do elemento*/
}
