.container {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 1fr);
}
.item {
  background-color: palevioletred;
  border: 1px solid black;
}
.container > div:nth-child(5) {
  background-color: darkcyan;
  place-self: center stretch; /*shorthand de justify-self:; e align-self:;*/

  /* justify-self: stretch;
  align-self: center; */
}
