:root {
  --font-size-title: 5rem;
  --box-shadow-default: 10px 10px 10px lightgray;
}
.dark-theme {
  --bg-body: rgb(24, 24, 24);
  --bg-gradient: linear-gradient(90deg, #fc4660, #3f5efb);
}
.light-theme {
  --bg-body: rgb(228, 226, 226);
  --bg-gradient: linear-gradient(90deg, #d53369, #daae51);
}

body {
  font-family: arial, sans-serif;
  text-align: center;
  background: var(--bg-body);
}
h1 {
  background: var(--bg-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--font-size-title);
}
button {
  background: var(--bg-gradient);
  padding: 8px 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--box-shadow-default);
}
