@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open sans";
}
header {
  color: #fff;
  box-sizing: border-box;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: blue;
  background: url("../images/Header\ Background.svg");
  background-size: cover;
  background-position: center right 26%;
}
#presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1.8rem;
  gap: 24px;
}
#presentation h1 {
  font-family: "Luckiest Guy";
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;
}
#presentation p {
  font-size: 1rem;
}
#presentation #buttons {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
#presentation button {
  display: block;
  height: 3rem;
  border-radius: 1.9rem;
  border-style: none;
  font-size: 1rem;
  font-weight: 500;
}
#presentation #first-button {
  color: #23272a;
}
#presentation #second-button {
  background-color: #23272a;
  color: #fff;
}
/*main*/
img {
  max-width: 100%;
  display: block;
  width: 380px;
  margin: 0 auto;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
section {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2rem;
}
#final-title {
  font-family: "Luckiest Guy";
  font-size: 2rem;
}
/*footer*/
footer {
  background-color: #23272a;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer figure {
  width: 50%;
}

@media screen and (min-width: 1000px) {
  header #presentation {
    width: 757px;

    margin: 0 auto;
    flex-direction: row;
    text-align: center;
  }
  #presentation div {
    margin: 0 auto;
  }
  #presentation #buttons {
    flex-direction: row;
  }
  #presentation h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  #presentation button {
    padding: 0 20px;
    cursor: pointer;
  }
  main {
    max-width: 1400px;
    margin: 0 auto;
  }
  section {
    display: flex;
    flex-direction: row;
    width: 65%;
  }
  article {
    width: 60%;
  }
  article > figure > img {
    width: 100%;
  }
  aside {
    width: 40%;
  }
  aside h3 {
    font-size: 2rem;
  }
  .order {
    order: -1;
  }
  .quebrando {
    flex-direction: column;
    text-align: center;
  }
  .quebrando aside {
    width: 100%;
  }
  .quebrando article {
    width: 100%;
  }
  footer {
    height: 12vh;
  }
  footer figure {
    width: 230px;
  }
}
