@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap");
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  perspective: 300px;
  font-family: "Quicksand", "Cursive";
}
.box {
  background: linear-gradient(90deg, #fc466b, #3f5efb);
  animation: example 5s infinite alternate;
  filter: blur(100px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
}
h1 {
  color: #ffffff79;
  margin: 0;
  font-size: 4rem;
  text-align: center;
}
p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: larger;
}

@keyframes example {
  0% {
    transform: rotateY(30deg) rotate(-25deg) translateZ(100px);
  }
  25% {
    transform: rotateY(-30deg) translateZ(100px);
  }
  50% {
    transform: rotateX(-50deg) translateZ(-100px);
  }
  75% {
    trasnform: rotateX(-50deg) translateZ(-100px);
  }
  100% {
    transform: rotateX(20deg) translateZ(0);
  }
}
