body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  background: linear-gradient(90deg, #fc466b, #3f5efb);
}
.box:hover {
  transform: rotate(45deg);
}
