@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(-45deg, #5f22c2, #38ff59);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite alternate;
}

h1 {
  color: #fff;
  font-family: "Quicksand";
  font-size: 3rem;
  position: relative;
  bottom: 60px;
}
.gradient-word {
  color: transparent;
  background: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.4));
  background-clip: text;
  font-size: 4.4rem;
  font-family: "Pacifico";
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
