code {
  background-color: #c5c5c5;
  font-weight: bold;
}
input::file-selector-button {
  background-color: lightblue;
  border: 2px solid #6c5ce7;
  color: color;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}
