@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
/* Custom Scroll */

:root {
  --primary-color: #020228;
  --secondary-color: #ff00e5;
  --tertiary-color: #b535f6;
  --btn-bg-color-gradient: linear-gradient(
    45deg,
    #9b34ef 0%,
    #490cb0 20%,
    transparent 50%
  );
  --btn-link-bg-color: #fff;
  --btn-link-color: #000;
  --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
  --divider-bg-color: linear-gradient(
    90deg,
    #5516ba,
    rgba(255, 0, 229, 0.5) 80%
  );
  --nav-bg-color: rgba(0, 0, 0, 0.3);
  --text-color: #fff;
  --link-color: #9e86ff;
  --form-bg-color: rgba(211, 211, 211, 0.06);
  --form-field-bg-color: rgba(0, 0, 0, 0.2);
  --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
  --form-field-placeholder: rgba(255, 255, 255, 0.7);
  --form-field-error: rgb(255, 76, 76);

  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body,
html {
  background-color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  max-width: 2600px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  z-index: 10000;
  top: 0;
  padding: 12px 16px;
  box-sizing: border-box;
  background-color: var(--nav-bg-color);
}
.menu__brand {
  max-width: 160px;
}
.menu__brand img {
  width: 100%;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 24px;
  text-transform: uppercase;
}
.menu__item a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.btn__menu {
  padding: 8px 26px;
  background-color: var(--tertiary-color);
  border-radius: 100px;
  transition: background 1s, color 1s;
}
.btn__menu:hover {
  background: var(--text-color);
  color: var(--primary-color);
}
.btn {
  font-family: "Quicksand";
  font-size: 0.8rem;
  letter-spacing: 3px;
  padding: 16px 40px;
  margin: 0 auto;
  border-radius: 500px;
  border: none;
  color: var(--text-color);
  background: var(--btn-bg-color-gradient);
  background-size: 250%;
  text-transform: uppercase;

  font-size: 1rem;
  font-weight: bold;
  transition: background 1s, outline 1s, transform 1s;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}
.text--small {
  font-size: 1rem;
  font-weight: lighter;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
.menu-footer {
  color: var(--link-color);
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menu-footer p {
  font-size: 0.75rem;
  text-align: center;
}
.list-footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.list-item-footer {
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
  color: var(--link-color);
}
.list-item-footer:hover {
  cursor: pointer;
  color: var(--text-color);
}
.social {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}
.social-items:hover {
  cursor: pointer;
}
.title {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 465px) {
  .menu {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
  }
  .menu__item {
    margin: 0 auto;
  }

  .list-footer-menu {
    flex-direction: column;
    gap: 0.75rem;
  }
}
